#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#page-content-wrapper{
    margin-left: 20px;
}

.desiredbutton{
    text-align: center;
}

.buttons{
    margin-bottom: 20px;
    text-align: center;
}